<div>
  <div class="block multi">
    <div class="box">
      <div class="title">
        <div class="inner">HEX</div>
      </div>
      <div class="interaction">
        <div>
          <input
            #inputHEX
            type="text"
            maxlength="7"
            size="6"
            placeholder="000000"
            [value]="colorHEX()"
          />
        </div>
        <div>
          <app-clipboard [value]="'#' + inputHEX.value" />
          <app-color-picker [(color)]="colorPicker" />
        </div>
      </div>
    </div>

    <div class="box">
      <div class="title">
        <div class="inner">HEX websafe</div>
      </div>
      <div class="interaction">
        <div>
          <input #inputHEXWeb type="text" maxlength="7" size="6" placeholder="000000" [value]="colorHEXWeb()" />
        </div>
        <div>
          <app-clipboard [value]="'#' + inputHEXWeb.value" />
          <app-color-picker [(color)]="colorPickerWeb" />
        </div>
      </div>
    </div>
  </div>

  <div class="block multi">
    <div class="box">
      <div class="title">
        <div class="inner">RGB</div>
      </div>
      <div class="interaction">
        <div>
          <input
            #inputRGB
            type="text"
            maxlength="100"
            size="11"
            placeholder="0,0,0"
            [value]="colorRGB()"
          />
        </div>
        <div>
          <app-clipboard [value]="'rgba(' + inputRGB.value + ',1)'" />
          <app-color-picker [(color)]="colorPicker" />
        </div>
      </div>
    </div>

    <div class="box">
      <div class="title">
        <div class="inner">RGB websafe</div>
      </div>
      <div class="interaction">
        <div>
          <input #inputRGBWeb type="text" maxlength="100" size="11" placeholder="0,0,0" [value]="colorRGBWeb()"/>
        </div>
        <div>
          <app-clipboard [value]="'rgba(' + inputRGBWeb.value + ',1)'" />
          <app-color-picker [(color)]="colorPickerWeb" />
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="box">
      <div class="title">
        <div class="inner">CMYK</div>
      </div>
      <div class="interaction">
        <div>
          <label for="cmyk-c">C:</label>
          <input
            id="cmyk-c"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorCMYK()[0]"
          />%
          <label for="cmyk-m">M:</label>
          <input
            id="cmyk-m"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorCMYK()[1]"
          />%
          <label for="cmyk-y">Y:</label>
          <input
            id="cmyk-y"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorCMYK()[2]"
          />%
          <label for="cmyk-k">K:</label>
          <input
            id="cmyk-k"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorCMYK()[3]"
          />%
        </div>
        <div>
          <app-color-picker [(color)]="colorPicker" />
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="box">
      <div class="title">
        <div class="inner">HSV</div>
      </div>
      <div class="interaction">
        <div>
          <label for="hsv-h">H:</label>
          <input
            id="hsv-h"
            type="number"
            min="0"
            max="360"
            size="3"
            placeholder="0"
            [value]="colorHSV()[0]"
          />°
          <label for="hsv-s">S:</label>
          <input
            id="hsv-s"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorHSV()[1]"
          />%
          <label for="hsv-v">V:</label>
          <input
            id="hsv-v"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorHSV()[2]"
          />%
        </div>
        <div>
          <app-color-picker [(color)]="colorPicker" />
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="box">
      <div class="title">
        <div class="inner">HSL</div>
      </div>
      <div class="interaction">
        <div>
          <label for="hsl-h">H:</label>
          <input
            id="hsl-h"
            type="number"
            min="0"
            max="360"
            size="3"
            placeholder="0"
            [value]="colorHSL()[0]"
          />°
          <label for="hsl-s">S:</label>
          <input
            id="hsl-s"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorHSL()[1]"
          />%
          <label for="hsl-l">L:</label>
          <input
            id="hsl-l"
            type="number"
            min="0"
            max="100"
            size="3"
            placeholder="0"
            [value]="colorHSL()[2]"
          />%
        </div>
        <div>
          <app-color-picker [(color)]="colorPicker" />
        </div>
      </div>
    </div>
  </div>
</div>
