@use "../../../scss/input";

@include input.text;
@include input.select;

div.row {
  max-width: 45dvw;
}
div.column:last-child {
  flex: none
}
div.box {
  max-width: 25dvw;
  .interaction {
    margin-top: 0;
  }
}
