@use "../../../scss/input";

@include input.textarea;
@include input.radio;

div.box {
  width: auto;
  .interaction {
    display: block;
    textarea {
      font-size: 0.75em;
    }
    app-clipboard {
      margin-left: -1em;
    }
  }
}
