<div>
  <div class="block multi">
    <div class="box auto">
      <div class="title">
        <div class="inner">Input</div>
      </div>
      <div class="interaction">
        <textarea
          id="text"
          name="text"
          placeholder="Please enter the text you wanna transform!"
          rows="15"
          cols="50"
          [value]="text()"
          (change)="onChangeText($event)"
        ></textarea>
        <app-clipboard [value]="text()" />
      </div>
    </div>

    <div class="box auto">
      <div class="title">
        <div class="inner">Change To</div>
      </div>
      <div class="interaction">
        <div>
          <input
            id="keep"
            data-index="0"
            type="radio"
            name="changeCase"
            value="keep"
            (change)="onChangeOptiuon($event)"
          />
          <label class="radio" for="keep">
            @if (option() === 'keep') {
            <app-icons image="radioRound" width="30" height="30" />
            } @else {
            <app-icons image="roundEmpty" width="30" height="30" />
            } keep as is</label
          >
        </div>
        <div>
          <input
            id="lower"
            data-index="0"
            type="radio"
            name="changeCase"
            value="lower"
            (change)="onChangeOptiuon($event)"
          />
          <label class="radio" for="lower">
            @if (option() === 'lower') {
            <app-icons image="radioRound" width="30" height="30" />
            } @else {
            <app-icons image="roundEmpty" width="30" height="30" />
            } all lower case</label
          >
        </div>
        <div>
          <input
            id="upper"
            data-index="0"
            type="radio"
            name="changeCase"
            value="upper"
            (change)="onChangeOptiuon($event)"
          />
          <label class="radio" for="upper">
            @if (option() === 'upper') {
            <app-icons image="radioRound" width="30" height="30" />
            } @else {
            <app-icons image="roundEmpty" width="30" height="30" />
            } all UPPER case</label
          >
        </div>
        <div>
          <input
            id="capWord"
            data-index="0"
            type="radio"
            name="changeCase"
            value="capWord"
            (change)="onChangeOptiuon($event)"
          />
          <label class="radio" for="capWord">
            @if (option() === 'capWord') {
            <app-icons image="radioRound" width="30" height="30" />
            } @else {
            <app-icons image="roundEmpty" width="30" height="30" />
            } Capitalize (Word)</label
          >
        </div>
        <div>
          <input
            id="capSentence"
            data-index="0"
            type="radio"
            name="changeCase"
            value="capSentence"
            (change)="onChangeOptiuon($event)"
          />
          <label class="radio" for="capSentence">
            @if (option() === 'capSentence') {
            <app-icons image="radioRound" width="30" height="30" />
            } @else {
            <app-icons image="roundEmpty" width="30" height="30" />
            } Capitalize (Sentence)</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
