@import "../../../scss/input.text.scss";
@import "../../../scss/input.range.scss";
@import "../../../scss/input.checkbox.scss";

div.interaction {
  input:not(:last-child) {
    margin-right: 1em;
  }
  #passwordActions {
    display: flex;
    .iconWrapper {
      margin-left: 0.75em;
    }
  }
}
