@use "../../../scss/input";

@include input.text;
@include input.range;
@include input.checkbox;

:host {
  width: 30dvw;
}
div.interaction {
  input:not(:last-child) {
    margin-right: 1em;
  }
  #passwordActions {
    display: flex;
    .iconWrapper {
      margin-left: 0.75em;
    }
  }
}
