<div class="row">
  <div class="column">
    <div class="box">
      <div class="title">
        <div class="inner">Length (5-128)</div>
      </div>
      <div class="interaction">
        <input
          type="number"
          maxlength="3"
          size="3"
          placeholder="0"
          min="5"
          max="256"
          [(ngModel)]="length"
        />
        <input
          type="range"
          min="5"
          max="128"
          class="slider"
          id="myRange"
          [(ngModel)]="length"
        />
      </div>
    </div>
  </div>

  <div class="column">
    <div class="box">
      <div class="title">
        <div class="inner">Characters</div>
      </div>
      <div class="interaction">
        <input
          id="charsUC"
          data-index="0"
          type="checkbox"
          [value]="char()[0]"
          (change)="changeValue($event)"
        />
        <label class="checkbox" for="charsUC">
          @if (char()[0]) {
          <app-icons image="checkboxRound" width="30" height="30" />
          } @else {
          <app-icons image="roundEmpty" width="30" height="30" />
          } A-Z</label
        >
        <input
          id="charsLC"
          data-index="1"
          type="checkbox"
          [value]="char()[1]"
          (change)="changeValue($event)"
        />
        <label class="checkbox" for="charsLC">
          @if (char()[1]) {
          <app-icons image="checkboxRound" width="30" height="30" />
          } @else {
          <app-icons image="roundEmpty" width="30" height="30" />
          } a-z</label
        >
        <input
          id="charsNum"
          data-index="2"
          type="checkbox"
          [value]="char()[2]"
          (change)="changeValue($event)"
        />
        <label class="checkbox" for="charsNum">
          @if (char()[2]) {
          <app-icons image="checkboxRound" width="30" height="30" />
          } @else {
          <app-icons image="roundEmpty" width="30" height="30" />

          } 1-9</label
        >
        <input
          id="charsSpec"
          data-index="3"
          type="checkbox"
          [value]="char()[3]"
          (change)="changeValue($event)"
        />
        <label class="checkbox" for="charsSpec">
          @if (char()[3]) {
          <app-icons image="checkboxRound" width="30" height="30" />
          } @else {
          <app-icons image="roundEmpty" width="30" height="30" />

          } /(=?...</label
        >
      </div>
    </div>
  </div>

  <div class="column">
    <div class="box">
      <div class="title">
        <div class="inner">Password</div>
      </div>
      <div class="interaction">
        <input
          type="text"
          [attr.maxlength]="128"
          [size]="length() > 22 ? 22 : length()"
          [value]="showClear ? passwordClear() : passwordMasked()"
          disabled
        />

        <div id="passwordActions">
          <div
            class="iconWrapper"
            (keypress)="regenerate()"
            (click)="regenerate()"
          >
            <app-icons image="refresh" width="40" height="40" />
          </div>
          <div
            class="iconWrapper"
            (mousedown)="showClear = true"
            (mouseup)="showClear = false"
          >
            <app-icons image="eye" width="40" height="40" />
          </div>
          <div class="iconWrapper">
            <app-clipboard title="Password" [value]="passwordClear()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
