$fgOK: rgba(51, 204, 51, 1);
$bgOK: rgba(51, 204, 51, 0.2);
$fgNOK: rgba(204, 51, 51, 1);
$bgNOK: rgba(204, 51, 51, 0.2);

:host {
  cursor: pointer;
}

svg {
  margin-left: 1em;
}
#clipboardInput {
  display: none;
}
.message {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  background: white;
  .ok,
  .nok {
    padding: 0.5rem 1rem;
    &.icon {
      color: white;
    }
  }
  .ok {
    background: $bgOK;
    color: $fgOK;
    &.icon {
      background: $fgOK;
    }
  }
  .nok {
    background: $bgNOK;
    color: $fgNOK;
    &.icon {
      background: $fgNOK;
    }
  }
}
