@use "../../../scss/input";

@include input.text;
@include input.textarea;
@include input.radio;

div.box {
  width: auto;
  .interaction {
    display: block;
    textarea {
        font-size: 0.75em;
    }
    input[type="number"] {
        margin-right: 0.5rem;
    }
  }
}
