select {
  font-size: 1em;
  background: none;
  border: 0;
  border-bottom: 2px solid var(--main-fg-color);
  color: var(--main-fg-color);
  line-height: 1.5;
  cursor: pointer;
  box-shadow: none;
  transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  text-align: center;
  outline: none;
  &:focus {
    color: var(--sec-fg-color);
    border-color: var(--sec-fg-color);
  }
}

option {
  background: var(--main-bg-color);
  color: var(--main-fg-color);
  &:checked {
    background: var(--sec-bg-color);
    color: var(--sec-fg-color);
  }
  &:hover,
  &:focus {
    background: var(--sec-bg-color);
  }
}