input[type='range'] {
  overflow: hidden;
  width: 30em;
  -webkit-appearance: none;
  background-color: var(--sec-bg-color);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: var(--main-fg-color);
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: var(--sec-fg-color);
  box-shadow: -30em 0 0 30em var(--main-fg-color);
}

/** FF*/
input[type="range"]::-moz-range-progress {
background-color: var(--main-fg-color); 
}
input[type="range"]::-moz-range-track {  
background-color: var(--sec-bg-color);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: var(--main-fg-color); 
}
input[type="range"]::-ms-fill-upper {  
background-color: var(--sec-bg-color);
}