@mixin spacer {
  .ml5 {
    margin-left: 0.5rem;
  }
  .mb5 {
    margin-bottom: 0.5rem;
  }
  .link {
    cursor: pointer;
  }
  .flex {
    display: flex;
    align-items: center;
  }
}

@mixin layout {
  section {
    height: 100dvh;
    margin: auto;
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row.flex {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    flex: 100%;
    max-width: 100%;
    margin: auto;
    &.half {
      flex: 50%;
    }
    &.auto {
      flex: auto;
    }
  }
  .box {
    margin: 1rem;
    padding: 1em;
    border: 1px solid var(--main-fg-color);
    border-radius: 1rem;
    .title {
      display: flex;
      margin-top: -2.1em;
      margin-left: calc(-1em - 1px);
      .inner {
        padding: 0.5em 1em;
        border: 1px solid var(--main-fg-color);
        border-radius: 1rem 1rem 1rem 0;
        background: var(--main-bg-color);
      }
    }
    .interaction {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      justify-content: space-between;
      font-size: 1.5rem;
    }
  }
}
