.mb5 {
  margin-bottom: 0.5rem;
}
div.block {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &.multi {
    display: flex;
    margin-inline: -1rem;
    > div {
      margin-inline: 1rem;
      &:not(.auto) {
        width: 50%;
      }
    }
  }
}
div.box {
  padding: 1em;
  border: 1px solid var(--main-fg-color);
  border-radius: 1rem;
  .title {
    display: flex;
    margin-top: -2.1em;
    .inner {
      padding: 0.5em 1em;
      border: 1px solid var(--main-fg-color);
      border-radius: 1rem;
      background: var(--main-bg-color);
    }
  }
  .interaction {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
    font-size: 1.5rem;
  }
}