<div class="row">
  <div class="column auto">
    <div class="box">
      <div class="title">
        <div class="inner">
          <h1 class="code">console.greet("Hello Corbie");</h1>
        </div>
      </div>
      <div class="interaction">
        <div>
          Corbie wants to be your best buddy when you need to quickly:
        </div>
        <div>
          <ul>
            <li>
              convert colors between HEX, RGB, CMYK, etc. (including HEX2RGB,
              RGB2HEX, RGB2HSV, HSV2RGB, RGB2CMYK, CMYK2RGB, and all the other
              ways around)
            </li>
            <li>generate a password with flexible length and complexity</li>
            <li>
              convert and understand Linux permissions and their numeric and
              symbolic values
            </li>
            <li>
              change the casing of a text to lower- or uppercase or capitalize by
              word or sentence
            </li>
            <li>
              need a Lorem Ipsum text of any given length (char, words, or
              paragraphs)
            </li>
            <li>a placeholder image of (almost) every size and color</li>
          </ul>
        </div>
        <div>
          Feel free to look around and come back to enjoy an ever-increasing
          number of tools for you to make your life a bit easier.
        </div>
      </div>
    </div>
  </div>
</div>
