/* unvisited link */
a,
a:link,
a:visited,
a:hover,
a:active {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  &.active {
    color: var(--sec-fg-color);
  }
  &:hover app-icons {
    color: var(--sec-fg-color);
  }
}
span {
  margin-left: 1rem;
}
img {
  margin: 0 5px;
}
app-icons {
  margin: 0 10px;
}
